<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/basic.css">
    <link rel="stylesheet" href="../style/blog.css">
    <title>Blog</title>
</head>
<body>
<div class="nav">
    <div class="nav__left">
        <a>Lisa</a> <span class="nav__left__surName">GU</span>
    </div>
    <div class="nav__right">
        <a class="nav__button" href='./home.html'>Home</a>
        <a class="nav__button" href='./Resume.html'>Resume</a>
        <a class="nav__button" href='./services.html'>Services</a>
        <a class="nav__button" href='./blog.html'>Blog</a>
        <a class="nav__button" href=''>Contact</a>
    </div>
</div>
<div class="blog_main">
    <div class="page__title__name">
        <h2>Blog</h2>
    </div>
    <section class="blog__content">
        <div class="blog__content__card_row">
            <div class="blog__content__card_colum">
                <a class="blog__content__card_colum__img" href="">
                    <img class="blog__content__card_colum__img__blogPic" src="../assets/img/blog_post_1.jpg"
                         alt="blog1"/>
                    <div class="img__mask">
                        <img class="img__mask__icon" src="../assets/img/book-solid.svg" alt="blog icon"/>
                    </div>
                    <div class="blog__content__card_colum__post__Date">
                        <span class="blog__content__card_colum__post__Date__day">6</span>
                        <span class="blog__content__card_colum__post__Date__month">Dec</span>
                    </div>
                </a>
                <a class="blog__content__card_colum__category" href="#">Travel</a>
                <a class="blog__content__card_colum__title" href="#">
                    <h4>Bootstrap is the Most Popular Framework</h4>
                </a>
            </div>
            <div class="blog__content__card_colum">
                <a class="blog__content__card_colum__img" href="">
                    <img class="blog__content__card_colum__img__blogPic" src="../assets/img/blog_post_2.jpg"
                         alt="blog1"/>
                    <div class="img__mask">
                        <img class="img__mask__icon" src="../assets/img/book-solid.svg" alt="blog icon"/>
                    </div>
                    <div class="blog__content__card_colum__post__Date">
                        <span class="blog__content__card_colum__post__Date__day">3</span>
                        <span class="blog__content__card_colum__post__Date__month">Nov</span>

                    </div>
                </a>
                <a class="blog__content__card_colum__category" href="#">jQuery</a>
                <a class="blog__content__card_colum__title" href="#">
                    <h4>One Framework,Every Device</h4>
                </a>
            </div>
        </div>
        <div class="blog__content__card_row">
            <div class="blog__content__card_colum">
                <a class="blog__content__card_colum__img" href="">
                    <img class="blog__content__card_colum__img__blogPic" src="../assets/img/blog_post_3.jpg"
                         alt="blog1"/>
                    <div class="img__mask">
                        <img class="img__mask__icon" src="../assets/img/book-solid.svg" alt="blog icon"/>
                    </div>
                    <div class="blog__content__card_colum__post__Date">
                        <span class="blog__content__card_colum__post__Date__day">12</span>
                        <span class="blog__content__card_colum__post__Date__month">Oct</span>

                    </div>
                </a>
                <a class="blog__content__card_colum__category" href="#">Sport</a>
                <a class="blog__content__card_colum__title" href="#">
                    <h4>Designed for Everyone, Everywhere</h4>
                </a>
            </div>
            <div class="blog__content__card_colum">
                <a class="blog__content__card_colum__img" href="">
                    <img class="blog__content__card_colum__img__blogPic" src="../assets/img/blog_post_4.jpg"
                         alt="blog1"/>
                    <div class="img__mask">
                        <img class="img__mask__icon" src="../assets/img/book-solid.svg" alt="blog icon"/>
                    </div>
                    <div class="blog__content__card_colum__post__Date">
                        <span class="blog__content__card_colum__post__Date__day">18</span>
                        <span class="blog__content__card_colum__post__Date__month">Aug</span>

                    </div>
                </a>
                <a class="blog__content__card_colum__category" href="#">CSS</a>
                <a class="blog__content__card_colum__title" href="#">
                    <h4>An Introduction To PostCSS</h4>
                </a>
            </div>
        </div>
        <div class="blog__content__card_row">
            <div class="blog__content__card_colum">
                <a class="blog__content__card_colum__img" href="">
                    <img class="blog__content__card_colum__img__blogPic" src="../assets/img/blog_post_5.jpg"
                         alt="blog1"/>
                    <div class="img__mask">
                        <img class="img__mask__icon" src="../assets/img/book-solid.svg" alt="blog icon"/>
                    </div>
                    <div class="blog__content__card_colum__post__Date">
                        <span class="blog__content__card_colum__post__Date__day">2</span>
                        <span class="blog__content__card_colum__post__Date__month">Jul</span>

                    </div>
                </a>
                <a class="blog__content__card_colum__category" href="#">CSS3</a>
                <a class="blog__content__card_colum__title" href="#">
                    <h4>Original and Innovation Web Layouts</h4>
                </a>
            </div>
            <div class="blog__content__card_colum">
                <a class="blog__content__card_colum__img" href="">
                    <img class="blog__content__card_colum__img__blogPic" src="../assets/img/blog_post_6.jpg"
                         alt="blog1"/>
                    <div class="img__mask">
                        <img class="img__mask__icon" src="../assets/img/book-solid.svg" alt="blog icon"/>
                    </div>
                    <div class="blog__content__card_colum__post__Date">
                        <span class="blog__content__card_colum__post__Date__day">8</span>
                        <span class="blog__content__card_colum__post__Date__month">May</span>
                    </div>
                </a>
                <a class="blog__content__card_colum__category" href="#">HTML5</a>
                <a class="blog__content__card_colum__title" href="#">
                    <h4>Creative and Innovation Designs</h4>
                </a>
            </div>
        </div>

    </section>

</div>
</body>
</html>