<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/home.css">
    <title>HOME</title>
</head>
<body>
<div class="nav">
    <div class="nav__left">
        <a>LisaGU</a>
    </div>
    <div class="nav__right">
        <a class="nav__button" href=''>Home</a>
        <a class="nav__button" href=''>Resume</a>
        <a class="nav__button" href=''>Services</a>
        <a class="nav__button" href=''>Blog</a>
        <a class="nav__button" href=''>Contact</a>
    </div>
</div>
<div class="card">
    <div class="card-top">
        <img class="avatar" src="../assets/img/photo.png" alt="photo"/>
        <div class="personal__info">
            <div class="personal__info__name">Lisa GU</div>
            <div class="personal__info__title">Frontend Developer</div>
            <div class="personal__info__contacts">
                <img  class="personal__info__contacts__icon" src="../assets/img/facebook-brands.svg" alt=""/>
                <img  class="personal__info__contacts__icon" src="../assets/img/square-instagram-brands.svg" alt=""/>
                <img  class="personal__info__contacts__icon" src="../assets/img/twitter-brands.svg" alt=""/>
            </div>

        </div>
    </div>
</div>

</body>
</html>