<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/Services.css"/>
    <link rel="stylesheet" href="../style/basic.css"/>
    <title>Services</title>
</head>
<body>
<div class="nav">
    <div class="nav__left">
        <a>Lisa</a> <span class="nav__left__surName">GU</span>
    </div>
    <div class="nav__right">
        <a class="nav__button" href='./home.html'>Home</a>
        <a class="nav__button" href='./Resume.html'>Resume</a>
        <a class="nav__button" href='./services.html'>Services</a>
        <a class="nav__button" href='./blog.html'>Blog</a>
        <a class="nav__button" href=''>Contact</a>
    </div>
</div>
<div class="main">
    <div class="page__title__name">
        <h2>Services</h2>
    </div>
    <div class="page__service">
        <h3>My <span>Services</span></h3>
    </div>
    <div class="page__service__type">
        <div class="page__service__type__items">
            <div class="page__service__type__icon">
                <div class="hover__border">
                    <img src="../assets/img/web_design_icon.png" alt="web_design_icon"/>
                </div>
            </div>
            <div class="page__service__type__name">
                <span>Web Design</span>
            </div>
            <div class="page__service__type__content">
                <p>I have mastered the fundamental skills, including HTML, CSS, JavaScript etc.
                </p>
            </div>
        </div>
        <div class="page__service__type__items">
            <div class="page__service__type__icon">
                <div class="hover__border">
                    <img src="../assets/img/photography_icon.png" alt="photography icon"/>
                </div>
            </div>
            <div class="page__service__type__name">
                <span>Photography</span>
            </div>
            <div class="page__service__type__content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor.
                </p>
            </div>
        </div>
        <div class="page__service__type__items">
            <div class="page__service__type__icon">
                <div class="hover__border">
                    <img src="../assets/img/creativity_icon.png" alt="management icon"/>
                </div>
            </div>
            <div class="page__service__type__name">
                <span>Management</span>
            </div>
            <div class="page__service__type__content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor.</p>
            </div>
        </div>
        <div class="page__service__type__items">
            <div class="page__service__type__icon">
                <div class="hover__border">
                    <img src="../assets/img/advertising_icon.png" alt="advertising icon"/>
                </div>
            </div>
            <div class="page__service__type__name">
                <span>Advertising</span>
            </div>
            <div class="page__service__type__content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor.
                </p>
            </div>
        </div>
    </div>
    <div class="page__clients">
        <h3>Clients</h3>
    </div>
    <div class="page__clients__logo">
        <a href="#" target="_blank">
            <img src="../assets/img/client_1.png" alt="client 1"/>
        </a>
        <a href="#" target="_blank">
            <img src="../assets/img/client_2.png" alt="client 2"/>
        </a>
        <a href="#" target="_blank">
            <img src="../assets/img/client_3.png" alt="client 3"/>
        </a>
        <a href="#" target="_blank">
            <img src="../assets/img/client_4.png" alt="client 4"/>
        </a>
        <a href="#" target="_blank">
            <img src="../assets/img/client_5.png" alt="client 5"/>
        </a>
        <a href="#" target="_blank">
            <img src="../assets/img/client_6.png" alt="client 6"/>
        </a>
    </div>
</div>
<div class="test">
    <img src="../assets/img/blog_post_1.jpg"></img>
    <div class="mask">
        <div class="edit__icon"></div>
    </div>
</div>


</body>
</html>