<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/basic.css">
    <link rel="stylesheet" href="../style/blog_details.css">
    <title>Blog Details</title>
</head>
<body>
<div class="nav">
    <div class="nav__left">
        <a>Lisa</a> <span class="nav__left__surName">GU</span>
    </div>
    <div class="nav__right">
        <a class="nav__button" href='./home.html'>Home</a>
        <a class="nav__button" href='./Resume.html'>Resume</a>
        <a class="nav__button" href='./services.html'>Services</a>
        <a class="nav__button" href='./blog.html'>Blog</a>
        <a class="nav__button" href=''>Contact</a>
    </div>
</div>


</body>
</html>